/* ==UserStyle==
@name         piped style mod
@version      0.2
@namespace    palash.dev
@homepageURL  https://github.com/debpalash/alternative-frontends.user.css
@description  A simple re-style for piped instances.
@author       palash.dev https://github.com/debpalash/
@preprocessor   stylus
@license      MIT
==/UserStyle== */


@-moz-document domain("pipedus.palash.dev"), domain("piped.kavin.rocks"), domain("piped.shimul.me") {
.font-bold>.text-center>.my-4, h1{
    padding-top:25px;
    font-size: medium !important;
}
.input{
    border-radius:9px;
    color:#11c8d9;
    border:1px solid #00ffff73;
    width:18vw !important;
}
nav, input, li{
    height:20px !important;
    font-size:small !important;
    z-index:99 !important;
    background-color:transparent !important;
}

#app > div > div:nth-child(4) > div.flex.justify-center.place-items-center{
        padding-top:35px;

}

.flex-1 > .flex > .justify-start{
    height:20px !important;
}
.player-container{
    min-height: 90vh !important;
    margin:0 !important;
    padding:0 !important   
}

.shaka-bottom-controls{
    height:7%;
}
 span,p{
     font-size:smaller;
    margin:0px;
    padding:0px;
}

.absolute, .suggestions-container{
    text-align:center;
    justify-content:center;
    margin-top:30px;
    padding-top:10px;
    border-radius:29px;
    background-color: #ff4;
}

li:hover{
    background-color:#ff2;
        margin-top:5px
}
}
